body {
    /*background-color: #FFFBEB*/
    background-color: #EDF2F7
    /*background-color: white*/
}

#fig-line-chart .hoverlayer .bg {
    rx: 4;
    shape-rendering: auto;
}

#breakdown-bar-chart .hoverlayer .bg {
    rx: 4;
    shape-rendering: auto;
}

.left-header {
    height: 190px;
}

@media (max-width: 767px) {
    .left-header {
        height: 0;
    }

    .right-header {
        margin-bottom: 95px;
    }
}

@media (max-width: 991px) {
    .left-header {
        height: 0;
    }

    .right-header {
        margin-bottom: 95px;
    }
}

h2 {
    color: #172B4D;
}

h2 {
    color: #0A192F;
}




