body {
    /*background-color: #FFFBEB*/
    background-color: #EDF2F7
    /*background-color: white*/
}

#fig-line-chart .hoverlayer .bg {
    rx: 4;
    shape-rendering: auto;
}

#breakdown-bar-chart .hoverlayer .bg {
    rx: 4;
    shape-rendering: auto;
}


